@{
    Layout = "~/Views/Shared/Sort/_SortDashboardLayout.cshtml";
}

    <div class="row">
        <ejs-accumulationchart id="container" title="Space Usage by Storage Drive" load="load" enableAnimation="false">
            <e-accumulationchart-center x="50%" y="50%"></e-accumulationchart-center>
            <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="false">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue" name="Space (GB)" explodeIndex="0" explode="true" explodeOffset="10%">
                    <e-accumulationseries-datalabel name="text" visible="true">
                        <e-font fontWeight="600" color="white"></e-font>
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>

        <ejs-accumulationchart id="container1" title="Mobile Browser Statistics" load="load" enableAnimation="false">
            <e-accumulationchart-center x="50%" y="50%"></e-accumulationchart-center>
            <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="false">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue" name="Space (GB)" explodeIndex="0" explode="true" explodeOffset="10%">
                    <e-accumulationseries-datalabel name="text" visible="true">
                        <e-font fontWeight="600" color="white"></e-font>
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>

        <ejs-accumulationchart id="container2" title="Mobile Browser Statistics" load="load" enableAnimation="false">
            <e-accumulationchart-center x="50%" y="50%"></e-accumulationchart-center>
            <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="false">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue" name="Space (GB)" explodeIndex="0" explode="true" explodeOffset="10%">
                    <e-accumulationseries-datalabel name="text" visible="true">
                        <e-font fontWeight="600" color="white"></e-font>
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>

        <ejs-accumulationchart id="container3" title="Mobile Browser Statistics" load="load" enableAnimation="false">
            <e-accumulationchart-center x="50%" y="50%"></e-accumulationchart-center>
            <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="false">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue" name="Space (GB)" explodeIndex="0" explode="true" explodeOffset="10%">
                    <e-accumulationseries-datalabel name="text" visible="true">
                        <e-font fontWeight="600" color="white"></e-font>
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>

        <ejs-accumulationchart id="container4" title="Mobile Browser Statistics" load="load" enableAnimation="false">
            <e-accumulationchart-center x="50%" y="50%"></e-accumulationchart-center>
            <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="false">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue" name="Space (GB)" explodeIndex="0" explode="true" explodeOffset="10%">
                    <e-accumulationseries-datalabel name="text" visible="true">
                        <e-font fontWeight="600" color="white"></e-font>
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
    </div>

<script>

    function anglechange(value) {
        var pie = document.getElementById("container").ej2_instances[0];
        if (pie.series[0].startAngle !== +value || pie.series[0].endAngle !== +value) {
            pie.series[0].startAngle = +value;
            pie.series[0].endAngle = +value;
            document.getElementById('anglevalue').innerHTML = value.toString();
            pie.removeSvg();
            pie.refreshSeries();
            pie.refreshChart();
        }
    }

    document.getElementById('pieangle').onpointermove = document.getElementById('pieangle').ontouchmove =
        document.getElementById('pieangle').onchange = (e) => {
            anglechange(+(document.getElementById('pieangle')).value);
        };
    function radiuschange(value) {
        var pie = document.getElementById("container").ej2_instances[0];
        if (pie.series[0].radius !== value + '%') {
            pie.series[0].radius = value + '%';
            document.getElementById('radius').innerHTML = (value / 100).toFixed(2);
            pie.removeSvg();
            pie.refreshSeries();
            pie.refreshChart();
        }
    }

    document.getElementById('pieradius').onpointermove = document.getElementById('pieradius').ontouchmove =
        document.getElementById('pieradius').onchange = (e) => {
            radiuschange(+(document.getElementById('pieradius')).value);
        };
    function exploderadius(value) {
        var pie = document.getElementById("container").ej2_instances[0];
        if (pie.visibleSeries[0].explodeOffset !== value + '%') {
            pie.visibleSeries[0].explodeOffset = value + '%';
            document.getElementById('exploderadius').innerHTML = (value / 100).toFixed(2);
            pie.removeSvg();
            pie.refreshSeries();
            pie.refreshChart();
        }
    }

    document.getElementById('pieexploderadius').onpointermove = document.getElementById('pieexploderadius').ontouchmove =
        document.getElementById('pieexploderadius').onchange = (e) => {
            exploderadius(+(document.getElementById('pieexploderadius')).value);
        };
    function explodeIndex(value) {
        var pie = document.getElementById("container").ej2_instances[0];
        if (pie.visibleSeries[0].explodeIndex !== +value) {
            pie.visibleSeries[0].explodeIndex = +value;
            document.getElementById('explodeindex').innerHTML = value.toString();
            pie.removeSvg();
            pie.refreshSeries();
            pie.refreshChart();
        }
    }

    document.getElementById('pieexplodeindex').onpointermove = document.getElementById('pieexplodeindex').ontouchmove =
        document.getElementById('pieexplodeindex').onchange = (e) => {
            explodeIndex(+(document.getElementById('pieexplodeindex')).value);
        };
    function xchange(value) {
        var pie = document.getElementById("container").ej2_instances[0];
        pie.center.x = value + '%';
        document.getElementById('xvalue').innerHTML = value + '%';
        pie.removeSvg(); pie.refreshSeries(); pie.refreshChart();
    }
    document.getElementById('x').onpointermove = document.getElementById('x').ontouchmove =
        document.getElementById('x').onchange = function (e) {
            xchange(+(document.getElementById('x')).value);
        };
    function ychange(value) {
        var pie = document.getElementById("container").ej2_instances[0];
        pie.center.y = value + '%';
        document.getElementById('yvalue').innerHTML = value + '%';
        pie.removeSvg(); pie.refreshSeries(); pie.refreshChart();
    }
    document.getElementById('y').onpointermove = document.getElementById('y').ontouchmove =
        document.getElementById('y').onchange = function (e) {
            ychange(+(document.getElementById('y')).value);
        };
    function load(args) {
        var indexedTheme = location.hash.split('/')[1];
        indexedTheme = indexedTheme ? indexedTheme : 'Material';
        args.accumulation.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/dark/i, "Dark").replace(/light/i, "Light"));
        args.accumulation.series[0].startAngle = 0;
        args.accumulation.series[0].endAngle = 0;
        args.accumulation.series[0].explodeIndex = 0;
    }
</script>