@{ 
    Layout = "~/Views/Shared/Sort/_SortDashboardLayout.cshtml";
}
<br />
<div class="admin-dashone-data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>Sort Files awaiting processing</h1>
                            <div class="sparkline8-outline-icon">
                                <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id">ID</th>
                                        <th data-field="sort_status">Status</th>
                                        <th data-field="dl_file_name" @*data-editable="true"*@>File Name</th>
                                        <th data-field="san_show_name">Show Name</th>
                                        <th data-field="san_seas_num">Sn #</th>
                                        <th data-field="san_ep_num">Ep #</th>
                                        <th data-field="dl_fav">Fav</th>
                                        <th data-field="san_isSan">Sani</th>
                                        <th data-field="dl_begin">Dl Begin</th>
                                        <th data-field="dl_end">Dl End</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">Sanitize</button>
                                            </div>
                                        </td>
                                        <td>48.hours.s30e27.dont.scream.720p.web.x264-underbelly[eztv].mkv</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td>2018-07-14 02:21:33pm</td>
                                        <td>2018-07-14 03:34:22pm</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>2</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">Sanitize</button>
                                            </div>
                                        </td>
                                        <td>68.whiskey.s01e07.720p.web.x264-xlf[eztv].mkv</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td>2018-07-15 02:14:12am</td>
                                        <td>2018-07-15 02:44:26am</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>3</td>
                                        <td>
                                            <div class="btn-group project-list-ad-bl">
                                                <button class="btn btn-white btn-xs">Pending Move</button>
                                            </div>
                                        </td>
                                        <td>A.Discovery.Of.Witches.S01E02.HDTV.x264-ETRG[eztv].mkv</td>
                                        <td>A Discovery Of Witches</td>
                                        <td>S01</td>
                                        <td>E02</td>
                                        <td> </td>
                                        <td>
                                            <i class="fa fa-2x fa-check" style="color: green; margin: 0 auto 0;"></i>
                                        </td>
                                        <td>2018-07-16 11:53:12am</td>
                                        <td>2018-07-16 11:59:11am</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>4</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">Sanitize</button>
                                            </div>
                                        </td>
                                        <td>Hells.Kitchen.US.S18E01.WEB.x264-TBS[eztv].mkv</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td>2018-09-28 09:20:33pm</td>
                                        <td>2018-09-28 09:45:26pm</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>5</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs" style="background-color: green;">Complete</button>
                                            </div>
                                        </td>
                                        <td>Judge.Judy.S23E13.Alcohol.Poisoning.Brought.to.You.by.Beer.Pong.HDTV.x264-W4F[eztv].mkv</td>
                                        <td>Judge Judy</td>
                                        <td>S23</td>
                                        <td>E13</td>
                                        <td><i class="fa fa-2x fa-star-o" style="color: yellow; margin: 0 auto 0;"></i></td>
                                        <td><i class="fa fa-2x fa-check" style="color: green;"></i></td>
                                        <td>2018-06-11 06:01:22pm</td>
                                        <td>2018-06-11 06:11:36pm</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>6</td>
                                        <td>
                                            <div class="btn-group project-list-ad-rd">
                                                <button class="btn btn-white btn-xs">Error</button>
                                            </div>
                                        </td>
                                        <td>generateMasterTv.ps1</td>
                                        <td style="text-align: center;"><i class="fa fa-2x fa-question-circle" style="color: red;"></i></td>
                                        <td style="text-align: center;"><i class="fa fa-2x fa-question-circle" style="color: red;"></i></td>
                                        <td style="text-align: center;"><i class="fa fa-2x fa-question-circle" style="color: red;"></i></td>
                                        <td> </td>
                                        <td style="text-align: center;"><i class="fa fa-2x fa-question-circle" style="color: red;"></i></td>
                                        <td>2018-05-14 04:11:56pm</td>
                                        <td>2018-05-14 07:35:54pm</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>7</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">Sanitize</button>
                                            </div>
                                        </td>
                                        <td>Hospital.S04E01.WEB.h264-KOMPOST[eztv].mkv</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td>2018-06-11 06:01:22pm</td>
                                        <td>2018-06-11 06:11:36pm</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>8</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">Sanitize</button>
                                            </div>
                                        </td>
                                        <td>Into.the.Badlands.S02E04.mkv</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td>2018-08-15 05:31:22pm</td>
                                        <td>2018-08-15 05:51:36pm</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>9</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">Sanitize</button>
                                            </div>
                                        </td>
                                        <td>Legends.of.Tomorrow.S04E10.XviD-ZMNT[eztv].avi</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td>2018-09-22 11:51:22pm</td>
                                        <td>2018-09-23 12:03:36am</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>10</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs" style="background-color: green;">Complete</button>
                                            </div>
                                        </td>
                                        <td>Judge.Judy.S23E14.Wheres.the.Love.Small.Dog.Takes.Bite.Out.of.Delivery.Man.HDTV.x264-W4F[eztv].mkv</td>
                                        <td>Judge Judy</td>
                                        <td>S23</td>
                                        <td>E14</td>
                                        <td><i class="fa fa-2x fa-star-o" style="color: yellow; margin: 0 auto 0;"></i></td>
                                        <td><i class="fa fa-2x fa-check" style="color: green; margin: 0 auto 0;"></i></td>
                                        <td>2018-09-19 2:08:12pm</td>
                                        <td>2018-09-19 2:28:34pm</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>11</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">Sanitize</button>
                                            </div>
                                        </td>
                                        <td>Angular Js</td>
                                        <td>Agrium Inc.</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td>Jul 14, 2018</td>
                                        <td>Jul 14, 2018</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>12</td>
                                        <td>
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">Sanitize</button>
                                            </div>
                                        </td>
                                        <td>Opencart</td>
                                        <td>Air Canada</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td>Jul 14, 2018</td>
                                        <td>Jul 14, 2018</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td></td>
                                            <td>13</td>
                                            <td>
                                                <div class="btn-group project-list-ad-rd">
                                                    <button class="btn btn-white btn-xs">Unactive</button>
                                                </div>
                                            </td>
                                            <td>Education</td>
                                            <td>Alcan Inc.</td>
                                            <td class="datatable-ct">
                                                <span class="pie">2,7</span>
                                            </td>
                                            <td>0%</td>
                                            <td>Feb 6, 2016</td>
                                            <td>
                                                <div class="support-list-img">
                                                    <a href="#">
                                                        <img src="~/AdminPro/img/notification/6.jpg" alt="" />
                                                    </a>
                                                    <a href="#">
                                                        <img src="~/AdminPro/img/notification/2.jpg" alt="" />
                                                    </a>
                                                    <a href="#">
                                                        <img src="~/AdminPro/img/notification/3.jpg" alt="" />
                                                    </a>
                                                    <a href="#">
                                                        <img src="~/AdminPro/img/notification/4.jpg" alt="" />
                                                    </a>
                                                    <a href="#">
                                                        <img src="~/AdminPro/img/notification/5.jpg" alt="" />
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group project-list-action">
                                                    <button class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</button>
                                                    <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button>
                                                </div>
                                            </td>
                                        </tr>
                                    *@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>