@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/Sort/_SortDashboardLayout.cshtml";
}

<br />
<!-- Charts Start-->
<div class="charts-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="charts-single-pro shadow-reset nt-mg-b-30">
                    <div class="alert-title">
                        <h2>E: Television Shows</h2>
                    </div>
                    <hr />
                    <span style="font-size: 12px; margin: 0 auto 0; color: white;">Status: Airing Shows</span>
                    <div id="pie-chart-e">
                        <canvas id="piechart-e"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="charts-single-pro shadow-reset nt-mg-b-30">
                    <div class="alert-title">
                        <h2>F: Television Shows</h2>
                    </div>
                    <hr />
                    <span style="font-size: 12px; margin: 0 auto 0; color: white;">Status: Airing Shows</span>
                    <div id="pie-chart-f">
                        <canvas id="piechart-f"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="charts-single-pro shadow-reset nt-mg-b-30">
                    <div class="alert-title">
                        <h2>G: Television Shows</h2>
                    </div>
                    <hr />
                    <span style="font-size: 12px; margin: 0 auto 0; color: white;">Status: Ended Shows</span>
                    <div id="pie-chart-g">
                        <canvas id="piechart-g"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="charts-single-pro shadow-reset nt-mg-b-30">
                    <div class="alert-title">
                        <h2>H: Television Shows</h2>
                    </div>
                    <hr />
                    <span style="font-size: 12px; margin: 0 auto 0; color: white;">Status: Airing Shows</span>
                    <div id="pie-chart-h">
                        <canvas id="piechart-h"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="charts-single-pro shadow-reset nt-mg-b-30">
                    <div class="alert-title">
                        <h2>I: Television Shows</h2>
                    </div>
                    <hr />
                    <span style="font-size: 12px; margin: 0 auto 0; color: white;">Status: Ended Shows</span>
                    <div id="pie-chart-i">
                        <canvas id="piechart-i"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">           
            <div class="col-lg-2">
                <div class="charts-single-pro shadow-reset nt-mg-b-30">
                    <div class="alert-title">
                        <h2>M: Movies</h2>
                    </div>
                    <hr />
                    <span style="font-size: 12px; margin: 0 auto 0; color: white;">Movies & Videos</span>
                    <div id="pie-chart-m">
                        <canvas id="piechart-m"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="charts-single-pro shadow-reset nt-mg-b-30">
                    <div class="alert-title">
                        <h2>S: Sort</h2>
                    </div>
                    <hr />
                    <span style="font-size: 12px; margin: 0 auto 0; color: white;">Classification Sort Drive</span>
                    <div id="pie-chart-s">
                        <canvas id="piechart-s"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>