@{
    Layout = "~/Views/Shared/Sort/_SortDashboardLayout.cshtml";
    ViewData["Title"] = "User Profile";

}

<div class="admintab-area">
    <div class="container-fluid">                    
        <div class="row">
            <div class="col-lg-12">
                <div class="admintab-wrap mg-b-40">
                    <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                        <li class="active">
                            <a data-toggle="tab" href="#Account"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>Account</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#ProfileInfo"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Profile Info</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Roles"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Roles</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Permissions"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Permissions</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Notifications"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Notifications</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#UserSettings"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Settings</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#DeleteAccount"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic warning"></span>Delete</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="Account" class="tab-pane in active animated fadeIn custon-tab-style1">
                            <p>account tab - wee woo</p>
                        </div>
                        <div id="ProfileInfo" class="tab-pane animated fadeIn custon-tab-style1">
                            <p>profile info tab - wee woo</p>
                        </div>
                        <div id="Roles" class="tab-pane animated fadeIn custon-tab-style1">
                            <p>roles tab - wee woo</p>
                        </div>
                        <div id="Permissions" class="tab-pane animated fadeIn custon-tab-style1">
                            <p>permissions tab - wee woo</p>
                        </div>
                        <div id="Notifications" class="tab-pane animated fadeIn custon-tab-style1">
                            <p>notifications tab - wee woo</p>
                        </div>
                        <div id="UserSettings" class="tab-pane animated fadeIn custon-tab-style1">
                            <p>settings tab - wee woo</p>
                        </div>
                        <div id="DeleteAccount" class="tab-pane animated fadeIn custon-tab-style1">
                            <p>delete tab - wee woo</p>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    </div>
</div>