<div class="chat-list-adminpro">
    <div class="chat-button">
        <span data-toggle="collapse" data-target="#chat" class="chat-icon-link"><i class="fa fa-comments"></i></span>
    </div>
    <div id="chat" class="collapse chat-box-wrap shadow-reset animated zoomInLeft">
        <div class="chat-main-list">
            <div class="chat-heading">
                <h2>Messenger</h2>
            </div>
            <div class="chat-content chat-scrollbar">
                <div class="author-chat">
                    <h3>Telematron <span class="chat-date">10:02 am</span></h3>
                    <p>Hello, Jpsietsma! What can I help you with today?</p>
                </div>
                <div class="client-chat">
                    <h3>Me <span class="chat-date">10:15 am</span></h3>
                    <p>Get Television Library Statistics.</p>
                </div>
                <div class="author-chat">
                    <h3>Telematron <span class="chat-date">10:16 am</span></h3>
                    <p>Are you interested in basic or advanced statistics?</p>
                </div>
                <div class="client-chat">
                    <h3>Jpsietsma <span class="chat-date">10:18 am</span></h3>
                    <p>Basic.</p>
                </div>
                <div class="author-chat">
                    <h3>Telematron <span class="chat-date">10:18 am</span></h3>
                    <p>
                        Here are the current stats:
                        <br />
                        <hr />
                        <br />
                        <b>Shows: </b> 931
                        <br />
                        <b>Seasons: </b> 13,231
                        <br />
                        <b>Episodes: </b> 56,813
                        <br />
                        <hr />
                        <br />
                        <b>Storage Drives: </b> 5 (18.32TB Remaining)
                        <br />
                        <b>Automation Sort Queue: </b> 512
                    </p>
                </div>
            </div>
            <div class="chat-send">
                <input type="text" placeholder="Type..." />
                <span><button type="submit">Send</button></span>
            </div>
        </div>
    </div>
</div>