@using Microsoft.AspNetCore.Identity
@using MediaToolsetWebCoreMVC.Models.Identity
@using MediaToolsetWebCoreMVC.Controllers

@inject SignInManager<AuthenticatedUser> SignInManager
@inject UserManager<AuthenticatedUser> UserManager
@inject ListboxController ListboxDataService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediaToolsetCoreMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
</head>
<body>
    <header>
        @if (SignInManager.IsSignedIn(User))
        {
        <ejs-menu id="menu" items="@ListboxDataService.GetAuthorizedNavItems();" width="800px"></ejs-menu>
        }

    <style>
        body {
            text-align: center;
        }

        /* Styles to achieve rounder corner in menu */
        .e-menu-wrapper.e-rounded-menu:not(.e-menu-popup),
        .e-menu-wrapper.e-rounded-menu .e-menu {
            border-radius: 20px;
        }

        /* Increased the menu component left and right padding for better rounded corner UI */
        .e-menu-wrapper.e-rounded-menu ul.e-menu {
            padding: 0 14px;
        }
    </style>
        <partial name="_LoginPartial" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MediaToolsetCoreMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
