@using Microsoft.AspNetCore.Identity
@using MediaToolsetWebCoreMVC.Models.Identity

@inject SignInManager<AuthenticatedUser> SignInManager
@inject UserManager<AuthenticatedUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <div style="width: 300px; text-align: center;">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>   
}