<div class="note-heading-indicate">
    <h2><i class="fa fa-comments-o"></i> Latest Notes</h2>
    <p>You have 104 new message.</p>
</div>
<div class="notes-list-area notes-menu-scrollbar">
    <ul class="notes-menu-list">
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/5.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/1.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/2.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/3.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/4.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/5.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/6.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/1.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/2.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notes-list-flow">
                    <div class="notes-img">
                        <img src="~/AdminPro/img/notification/3.jpg" alt="" />
                    </div>
                    <div class="notes-content">
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <span>Yesterday 2:45 pm</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>