@{
    ViewData["Title"] = "Home Dashboard | SDN Media Toolset";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the SDN Media Toolset Dashboard!</h1>
    <p>Dash contents coming soon..</p>
</div>
